<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rTag | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>

    <h1>rTag - {% block header %}{% endblock header %}</h1>
    
    <nav>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'rtags' %}">rTags</a></li>
        <li><a href="{% url 'challenges' %}">Challenges</a></li>
        <li><a href="{% url 'scoreboard' %}">Scoreboard</a></li>
        <li><a href="{% url 'users' %}">Users</a></li>
    </nav>
</body>
</html>